git+https://github.com/mccoderpy/discord.py-message-components.git@developer
git+https://github.com/mccoderpy/color-pprint.git
aiomysql
aiofiles
aiohttp[speedups]
aiocron
random-text-generator==1.1.0
